<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo-screen-view.png">
    <title>SecView</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css"/>

</head>
<body>
    <h1>SecView</h1>
    <img src="/img/logo-screen-view.png" alt="Logo">
</body>
</html>